<div class="wrapper">
  <UserNavBar></UserNavBar>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
      <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo"> Team Member Panel </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span>
        </button>

      </div>
    </nav>
    <div class="content">

      <div class="container-fluid">
        <div class="row">

          <div class="col-md-4">
            <div class="card border-danger">
              <div class="card-header text-center bg-danger">
                <h3 class="text-white">50 &nbsp;Users</h3>
              </div>
              <div style="padding-left:120px;padding-top: 20px" class="text-center">
                <p class="fa fa-users fa-4x text-danger"></p>
              </div>


            </div>
          </div>
          <div class="col-md-4">

            <div class="card border-warning">
              <div class="card-header text-center bg-warning">
                <h3 class="text-white">20 &nbsp;Notification</h3>
              </div>
              <div style="padding-left:125px;padding-top: 20px" class="text-center">
                <p class="fa fa-bullhorn fa-4x text-warning"></p>
              </div>


            </div>
          </div>
          <div class="col-md-4">

            <div class="card border-info">
              <div class="card-header text-center bg-info">
                <h3 class="text-white">20 &nbsp;Reports</h3>
              </div>
              <div style="padding-left:120px;padding-top: 20px" class="text-center">
                <p class="fa fa-newspaper-o fa-4x text-info"></p>
              </div>


            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <Footer></Footer>
</div>